@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #79f2ec;
  --dark: #18dad0;
}
* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
}

.customInput {
  padding: 10px 50px;
  /* padding-left: 50px; */
  background: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  margin: 6px 0;
  width: 100%;

  outline: none;
  transition: all 0.3s ease-in-out;
}

.customOTPInput {
  padding: 10px;

  background: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 100%;
  color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.customOTPInput:focus,
.customOTPInput:active {
  border-color: var(--main);
}
.customInput:focus,
.customInput:active {
  border-color: var(--main);
}

/* button */
.btn {
  background: var(--dark);
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin: 12px 0;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  background: #18dad0ba;
}
.btn:active {
  background: #00d7cc;
}

input[type="file"] {
  display: none;
}
.profile_img {
  @apply border-4 border-[var(--main)] w-[80px] rounded-full shadow-lg  shadow-[#18dad050] cursor-pointer;
  @apply hover:border-gray-200;
  margin-bottom: 20px;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(81, 81, 81, 0.279);
  /* background: transparent; */
}
body::-webkit-scrollbar-thumb {
  /* box-shadow: 0 0 6px rgb(171, 171, 171); */
  background: #00d7ccc0;
  border-radius: 70px;
}
body {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
body {
  scrollbar-color: #6969dd;
  scrollbar-width: thin;
}
